h1{
    background-color: aqua;
    font-size: 60px;
    text-align: center;
    margin: 10px;
    border: double;
    font-family: Great Vibes;
    padding: 3px;
}

h2{
   background-color:coral;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
   border: double;
    margin-left: 50px;
    margin-right: 50px;
    font-family: Rye;
    padding: 3px;
}

ul {
  list-style-type: none;
    font-size: 20px;
    font-family: Rye;
    background-color: deeppink;
    position: fixed;
    bottom: 0px;
    border: double;
    right: 10px;
    text-align: center;
    padding: 10px;
}
li{
    padding: 10px;
}
p{
    text-align: center;
    font-family: Inknut Antiqua;
}

body{
    background-color: azure;
}
ol{
    font-family: Inknut Antiqua;
    font-size: 18px;
}